.modal.fade(id="buyModal" data-bs-backdrop="buy" data-bs-keyboard="false" tabindex="-1")
	.modal-dialog.modal-dialog-centered.modal-dialog-scrollable
		.modal-content
			.modal-header
				button(type="button" class="modal-close" data-bs-dismiss="modal")
					img(src="/assets/images/close.svg" alt="close")
			.modal-body
				.row
					.col-12.col-lg-7
						.modal-body__info
							h5.modal-title Покупка
							p.modal-description.d-block.d-lg-none Мы переведём вас в мобильное приложение
							p.modal-description.d-none.d-lg-block
								| — Жизнь в большом городе зачастую накладывает на людей очень много обязательств, которые многим мешают
								| планировать свое время.
								| — Поэтому времени катастрофически не хватает на все, в том числе и на нормальную здоровую пищу.
								| Полезные продукты необходимо включать в рацион каждый день: они богаты аминокислотами, витаминами,
								| микро- и макроэлементами, жирными кислотами, клетчаткой.
							a.custom-button.d-flex.d-lg-none(href="/" target="_blank")
								span Перейти в приложение
					.col-lg-5.d-none.d-lg-block
						img.modal-image(src="/assets/images/qr_example.png" alt="qr code")