footer.footer
	.container
		.footer__row
			.footer__logo
				a(href="/")
					img(src="/assets/images/logo.svg" alt="logo")
			ul.footer__links
				li.footer__link-item
					a.footer__link(href="/#coins") Монеты TONumuz
				li.footer__link-item
					a.footer__link(href="/") Художникам
				li.footer__link-item
					a.footer__link(href="/#about") Кураторам
				li.footer__link-item
					a.footer__link(href="/#advantage") Гайдлайны
				li.footer__link-item
					a.footer__link(href="/#designers") Коммьюнити
				li.footer__link-item
					a.footer__link(href="/") Governance
			.footer__bottom-info
				a.footer__copyright(href="/") © 2020 sitename.com
				.footer__socials-wrap
					a.footer__social-link(href="/")
						img(src="/assets/images/facebook.svg" alt="facebook")
					a.footer__social-link(href="/")
						img(src="/assets/images/twitter.svg" alt="twitter")
					a.footer__social-link(href="/")
						img(src="/assets/images/reddit.svg" alt="reddit")