header.header
	.container-fluid
		.header__row
			.header__logo
				a(href="/")
					img(src="/assets/images/logo.svg" alt="logo")
			.header__wrap
				ul.header__links.d-none.d-xl-flex
					li.header__link-item
						a.header__link(href="/#coins") Монеты TONumiz
					li.header__link-item
						a.header__link(href="/") Художникам
					li.header__link-item
						a.header__link(href="/#about") Кураторам
					li.header__link-item
						a.header__link(href="/#advantage") Гайдлайны
					li.header__link-item
						a.header__link(href="/#designers") Коммьюнити
					li.header__link-item
						a.header__link(href="/") Governance
				.header__theme-switch.d-flex.d-xl-none
					.header__theme.header__theme_mobile.header__theme_dark.active
						img.svg(src="/assets/images/dark_icon.svg" alt="dark")
						span Dark
					.header__theme.header__theme_mobile.header__theme_light.active
						img.svg(src="/assets/images/light_icon.svg" alt="light")
						span Light
				.header__theme-switch.d-none.d-xl-flex
					.header__theme.header__theme_light(data-toggle-theme="light")
						img.svg(src="/assets/images/light_icon.svg" alt="light")
						span Light
					.header__theme.header__theme_dark(data-toggle-theme="dark")
						img.svg(src="/assets/images/dark_icon.svg" alt="dark")
						span Dark
				.dropdown
					button.dropdown-toggle(type="button" data-bs-toggle="dropdown")
						span RU
					ul.dropdown-menu.dropdown-menu-end
						li
							a.dropdown-item.active(href="/index.html") RU
						li
							a.dropdown-item(href="/en.html") EN
				.header__menu.d-flex.d-xl-none
					span
					span
					span
					span