doctype html
html(lang="en")
	head
		block vars
		meta(charset="UTF-8")
		title #{title}
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible" content="ie=edge, chrome=1")

		include head-links

		link(rel="icon" href="favicon.ico" type="image/x-icon")
body
	include header

	block content

	include footer

	include menu

	include footer-scripts

	include buy-modal