.global-menu
	ul.global-menu__links
		li.global-menu__link-item
			a.global-menu__link(href="/#coins")
				span Монеты TONumuz
				img(src="/assets/images/menu_link_arrow.svg" alt="link")
		li.global-menu__link-item
			a.global-menu__link(href="/")
				span Художникам
				img(src="/assets/images/menu_link_arrow.svg" alt="link")
		li.global-menu__link-item
			a.global-menu__link(href="/")
				span Кураторам
				img(src="/assets/images/menu_link_arrow.svg" alt="link")
		li.global-menu__link-item
			a.global-menu__link(href="/#about")
				span Гайдлайны
				img(src="/assets/images/menu_link_arrow.svg" alt="link")
		li.global-menu__link-item
			a.global-menu__link(href="/#advantage")
				span Коммьюнити
				img(src="/assets/images/menu_link_arrow.svg" alt="link")
		li.global-menu__link-item
			a.global-menu__link(href="/#designers")
				span Governance
				img(src="/assets/images/menu_link_arrow.svg" alt="link")
	.global-menu__socials-wrap
		a.global-menu__social-link(href="/" rel="nofollow" target="_blank")
			img(src="/assets/images/facebook.svg" alt="facebook")
		a.global-menu__social-link(href="/" rel="nofollow" target="_blank")
			img(src="/assets/images/twitter.svg" alt="facebook")
		a.global-menu__social-link(href="/" rel="nofollow" target="_blank")
			img(src="/assets/images/reddit.svg" alt="facebook")