.custom-button {
  height: 52px;
  display: flex;
  padding: 15px 30px;
  border-radius: 8px;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  background-color: $accent;
  transition: all 0.4s ease-in-out;

  &.full-width {
    width: 100%;
  }

  &:hover, &:active {
    background-color: $accent-light;
  }

  @include respond-above(lg) {
    height: 64px;
    padding: 15px 40px;
    
    span {
      line-height: normal;
    }
  }
  
  span {
    color: #fff;
    line-height: 16px;
    text-transform: uppercase;
    font-family: $futura-medium;
  }
}
