.bootstrap-select {
  width: 100% !important;

  &.show {
    .dropdown-toggle {
      border-radius: 8px 8px 0 0;
      border-bottom: none !important;
    }
  }

  &>.dropdown-toggle {
    height: 48px;
    border-radius: 8px;
    padding: 10px 40px 10px 12px;

    @include respond-above(lg) {
      height: 56px;
      padding: 10px 40px 10px 16px;
    }
  }

  .dropdown-toggle {
    background-color: #fff !important;
    border: 1px solid #e6e6e6 !important;

    &:focus {
      outline: none !important;
    }

    &:after {
      top: 50%;
      margin: 0;
      content: '';
      width: 16px;
      right: 16px;
      height: 8px;
      border: none;
      display: block;
      position: absolute;
      transform: translateY(-50%);
      background: url('/public/images/select_arrow.svg') no-repeat center;
      background-size: 16px 8px;
    }

    .filter-option {
      display: flex;
      align-items: center;
      justify-content: stretch;
    }

    .filter-option-inner {
      width: 100%;
    }

    .filter-option-inner-inner {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      img {
        width: 24px;
        height: 24px;
        margin-right: 8px;

        @include respond-above(lg) {
          width: 32px;
          height: 32px;
          margin-right: 12px;
        }
      }

      span {
        font-size: 14px;
        line-height: 16px;
        color: $accent-black;

        @include respond-above(lg) {
          font-size: 18px;
          line-height: 20px;
        }
      }
    }
  }

  .dropdown-menu {
    padding: 0;
    border: 1px solid #e6e6e6;
    border-radius: 0 0 8px 8px;

    li {
      a {
        font-size: 14px;
        line-height: 18px;
        padding: 10px 16px;

        @include respond-above(lg) {
          font-size: 18px;
          line-height: 20px;
        }

        &:hover {
          background-color: $accent-grey;
        }

        &:focus {
          outline: none;
          color: $accent-black;
          background-color: $accent-grey;
        }

        &.active {
          background-color: $accent;
        }

        span.text {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          img {
            width: 24px;
            height: 24px;
            margin-right: 8px;

            @include respond-above(lg) {
              width: 32px;
              height: 32px;
              margin-right: 12px;
            }
          }
        }
      }
    }
  }
}
