.section-title {
  font-size: 24px;
  line-height: 32px;
  font-family: $futura-bold;

  @include respond-above(lg) {
    font-size: 40px;
    line-height: normal;
  }
}

.section-desc {
  line-height: 22px;

  @include respond-above(lg) {
    line-height: 28px;
  }
}
