.modal {
  .modal-dialog {
    margin: .5rem 20px;

    @include respond-above(md) {
      margin: 1.75rem auto;
    }

    @include respond-above(lg) {
      max-width: 1100px;
    }
  }

  .modal-content {
    border: none;
    background: #fff;
    border-radius: 16px;
  }

  .modal-header {
    border: none;
    display: flex;
    padding: 20px 20px 10px;
    justify-content: flex-end;

    @include respond-above(lg) {
      padding: 30px 30px 50px;
    }
  }

  .modal-title {
    font-size: 32px;
    line-height: 43px;
    margin-bottom: 25px;
    color: $accent-black;
    font-family: $futura-bold;

    @include respond-above(lg) {
      margin-bottom: 20px;
    }
  }

  .modal-description {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
    color: $accent-black;

    @include respond-above(lg) {
      font-size: 18px;
      max-width: 560px;
      margin-bottom: 0;
      line-height: 28px;
    }
  }

  .modal-image {
    width: 270px;
    height: 270px;
    margin: 0 auto;
  }

  .modal-body {
    padding: 0 20px 60px;

    @include respond-above(lg) {
      padding: 0 80px 100px;
    }

    &__info {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      @include respond-above(lg) {
        align-items: flex-start;
      }
    }
  }
}
