.footer {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);

  @include respond-above(lg) {
    padding: 20px 0;
  }

  &__row {
    @include respond-above(lg) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__logo {
    width: 48px;
    height: 48px;
    margin-bottom: 30px;

    @include respond-above(lg) {
      margin-bottom: 0;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;

    @include respond-above(lg) {
      align-items: center;
    }
  }

  &__link-item {
    width: 50%;
    flex: 1 0 50%;
    margin-bottom: 30px;

    @include respond-above(lg) {
      flex: auto;
      width: auto;
      margin-bottom: 0;
      margin-right: 30px;
    }
  }

  &__link {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
  }

  &__bottom-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond-above(lg) {
      align-items: flex-end;
      justify-content: center;
      flex-direction: column-reverse;
    }
  }

  &__copyright {
    color: #fff;
    flex: 1 0 50%;
    line-height: 16px;

    @include respond-above(lg) {
      flex: auto;
    }
  }

  &__socials-wrap {
    display: flex;
    flex: 1 0 50%;
    justify-content: flex-start;

    @include respond-above(lg) {
      flex: auto;
      margin-bottom: 12px;
      justify-content: flex-end;
    }
  }

  &__social-link {
    height: 16px;
    margin-right: 30px;

    @include respond-above(lg) {
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
