.global-menu {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  clip-path: inset(0 0 100% 0);
  background-color: $accent-black;
  transition: all 0.5s ease-in-out;

  &.open {
    clip-path: inset(0 0 0 0);
  }

  &__links {
    width: 100%;
    display: flex;
    padding: 0 20px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
  }

  &__link-item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s ease-in-out;

    span {
      font-size: 24px;
    }

    img {
      width: 12px;
      height: 22px;
    }
  }

  &__socials-wrap {
    left: 20px;
    z-index: 1;
    bottom: 30px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
  }

  &__social-link {
    margin-right: 40px;

    img {
      width: auto;
      height: 24px;
    }
  }
}
