.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 20px 0;
  position: fixed;
  transition: background-color 0.4s ease-in-out;

  &.active {
    background-color: $accent-black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 32px;
    height: 32px;
    min-width: 32px;
    margin-right: 30px;

    @include respond-above(lg) {
      width: 48px;
      height: 48px;
      min-width: 48px;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__menu {
    width: 24px;
    height: 12px;
    position: relative;

    &.open {
      span {
        &:nth-child(1) {
          top: 50%;
          opacity: 0;
          transform: translateY(-50%);
        }

        &:nth-child(2) {
          opacity: 1;
          transform: translateY(-50%) rotate(45deg);
        }

        &:nth-child(3) {
          opacity: 1;
          transform: translateY(-50%) rotate(-45deg);
        }

        &:nth-child(4) {
          bottom: 50%;
          opacity: 0;
          transform: translateY(-50%);
        }
      }
    }

    span {
      left: 0;
      right: 0;
      width: 24px;
      height: 2px;
      position: absolute;
      background-color: #fff;
      transition: all 0.4s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2), &:nth-child(3) {
        top: 50%;
        opacity: 0;
        transform: translateY(-50%);
      }

      &:nth-child(4) {
        bottom: 0;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    margin-right: 20px;
    justify-content: flex-end;
  }

  &__link-item {
    margin-right: 40px;
  }

  &__link {
    color: #fff;
  }

  &__theme-switch {
    margin-right: 30px;
    align-items: center;
    justify-content: flex-end;
    
    @include respond-above(xl) {
      margin-right: 20px;
    }
  }

  &__theme {
    display: flex;
    cursor: pointer;
    margin-right: 0;
    align-items: center;
    justify-content: flex-start;
    
    @include respond-above(xl) {
      margin-right: 40px;
    }

    &.active {
      svg {
        path {
          fill: $accent;
        }
      }

      span {
        color: #fff;
      }
    }

    svg {
      width: 20px;
      height: 20px;
      margin-right: 10px;

      path {
        transition: all 0.4s ease-in-out;
      }
    }

    span {
      color: #8E8E8E;
      line-height: normal;
      transition: all 0.4s ease-in-out;
    }
  }

  .dropdown {
    margin-right: 30px;
  }

  .dropdown-toggle {
    display: flex;
    align-items: center;

    &:hover {
      span {
        color: $accent-light;
      }
    }

    &.show {
      &:after {
        transform: rotateX(180deg);
      }
    }

    &:after {
      width: 14px;
      height: 7px;
      border: none;
      margin-left: 5px;
      background: url('/public/images/dropdown_arrow.svg') no-repeat center;
      background-size: 14px 7px;
      transition: all 0.4s ease-in-out;
    }

    span {
      color: $accent;
      line-height: normal;
      font-family: $futura-medium;
      transition: all 0.4s ease-in-out;
    }
  }

  .dropdown-menu {
    min-width: 50px;
    max-width: 50px;
    padding: 15px 0;

    li {
      &:last-child {
        .dropdown-item {
          padding-bottom: 0;
        }
      }
    }
  }

  .dropdown-item {
    font-size: 16px;
    padding: 0 15px 20px;
    font-family: $futura-medium;
    color: rgba(11, 11, 11, 0.4);
    transition: all 0.4s ease-in-out;

    &:hover {
      color: $accent-black;
      background-color: transparent;
    }

    &:active {
      color: $accent-black;
      background-color: transparent;
    }

    &.active {
      color: $accent-black;
      background-color: transparent;
    }
  }
}
