.main-section {
  padding-top: 82px;
  padding-bottom: 40px;

  @include respond-above(lg) {
    height: auto;
    padding-top: 150px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    @include respond-above(lg) {
      height: 100%;
      justify-content: center;
    }
  }

  &__image-wrap {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    justify-content: flex-end;

    @include respond-above(lg) {
      height: auto;
      margin-top: 0;
    }

    img {
      width: 100%;
      margin: 0 auto;

      @include respond-above(lg) {
        width: 100%;
        max-width: none;
      }
    }
  }

  .section-title {
    margin-bottom: 20px;

    @include respond-above(lg) {
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 40px;
    }
  }

  .section-desc {
    margin-bottom: 25px;

    @include respond-above(lg) {
      max-width: 490px;
      margin-bottom: 50px;
    }
  }
}

.coin-sale-section {
  padding: 30px 0;

  @include respond-above(lg) {
    padding: 140px 0 160px;
  }

  &__title-wrap {
    margin-bottom: 20px;

    @include respond-above(lg) {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      justify-content: space-between;
    }
  }

  &__more-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:hover {
      span {
        color: $accent-light;
      }
    }

    span {
      color: $accent;
      font-size: 16px;
      line-height: 18px;
      transition: all 0.4s ease-in-out;

      @include respond-above(lg) {
        font-size: 18px;
        line-height: 20px;
      }
    }

    img {
      width: 5px;
      height: 9px;
      margin-left: 8px;
    }
  }

  .slider-arrow {
    top: 50%;
    z-index: 1;
    width: 56px;
    height: 56px;
    display: flex;
    cursor: pointer;
    position: absolute;
    border-radius: 8px;
    align-items: center;
    background: $accent;
    justify-content: center;
    transform: translateY(-50%);
    transition: all 0.4s ease-in-out;

    &:hover {
      background-color: $accent-light;
    }

    &_prev {
      left: -96px;
    }

    &_next {
      right: -96px;

      img {
        transform: rotate(180deg);
      }
    }

    img {
      width: 15px;
      height: 26px;
    }
  }

  .coin-slider-wrap {
    position: relative;
    margin-bottom: 20px;

    @include respond-above(lg) {
      margin-bottom: 0;
    }
  }

  .coin-slider {
    .slick-list {
      padding-right: 80px;

      @include respond-above(md) {
        padding-right: 0;
      }
    }

    &__slide {
      padding: 0 5px;

      @include respond-above(md) {
        padding: 0 15px;
      }
    }
  }

  .coin-card {
    padding: 20px;
    display: flex;
    background: #FFFFFF;
    border-radius: 16px;
    flex-direction: column;
    border: 1px solid #EEEEEE;
    box-shadow: 0 4px 16px rgba(47, 49, 52, 0.08);

    @include respond-above(lg) {
      padding: 30px 20px;
    }

    &__image {
      width: 120px;
      height: 120px;
      margin: 0 auto 15px;

      @include respond-above(lg) {
        margin-bottom: 20px;
      }

      img {
        object-fit: contain;
      }
    }

    &__info {
      width: 100%;
      display: flex;
      align-items: stretch;
      flex-direction: column;
    }

    &__row {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      justify-content: space-between;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__text {
      display: flex;
      font-size: 16px;
      color: $accent-black;
      align-items: center;
      justify-content: flex-end;

      &_bold {
        font-size: 16px;
        font-family: $futura-bold;
      }

      img {
        width: 16px;
        height: 16px;
        margin-left: 5px;
      }
    }
  }
}

.about-section {
  padding-bottom: 20px;

  @include respond-above(lg) {
    padding-bottom: 160px;
  }

  .section-title {
    max-width: 440px;
    margin-bottom: 0;
    margin-right: 22px;

    @include respond-above(lg) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &__title-row {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    justify-content: space-between;

    @include respond-above(lg) {
      margin-bottom: 50px;
    }
  }

  &__title-image {
    width: 92px;
    height: auto;
    min-width: 92px;

    @include respond-above(md) {
      width: 235px;
      min-width: 235px;
    }
  }

  .about-card {
    padding: 20px;
    background: #FFFFFF;
    border-radius: 16px;
    margin-bottom: 20px;
    border: 1px solid #EEEEEE;
    box-shadow: 0 4px 16px rgba(47, 49, 52, 0.08);

    @include respond-above(md) {
      padding: 30px;
      margin-bottom: 30px;
    }

    &__title {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 15px;
      color: $accent-black;
      font-family: $futura-medium;

      @include respond-above(lg) {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 20px;
      }

      span {
        color: $accent;
      }
    }

    &__description {
      line-height: 22px;
      color: $accent-black;

      @include respond-above(lg) {
        line-height: 28px;
      }
    }
  }
}

.buy-section {
  padding-bottom: 40px;

  @include respond-above(lg) {
    padding-bottom: 160px;
  }

  .col-md-6 {
    @include respond-above(lg) {
      &:nth-child(1) {
        padding-right: 40px;
      }

      &:nth-child(2) {
        padding-left: 40px;
      }
    }
  }

  .section-title {
    margin-bottom: 25px;

    @include respond-above(lg) {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 30px;
    }
  }

  .form-select {
    z-index: 2;
    width: 100%;
    height: 48px;
    display: flex;
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 8px;
    position: relative;
    align-items: center;
    background: transparent;
    border: 1px solid #E6E6E6;

    @include respond-above(lg) {
      height: 56px;
      padding: 12px 15px;
    }
  }

  .select-wrap, .input-wrap {
    position: relative;
    margin-bottom: 15px;
  }

  .select-wrap {
    position: relative;

    &.no-arrow {
      &:after {
        display: none;
      }
    }

    &:after {
      top: 50%;
      right: 0;
      content: '';
      display: block;
      position: absolute;
      transform: translateY(-50%);
      background: url('/public/images/select_arrow.svg') no-repeat center;
    }
  }

  .form-control {
    width: 100%;
    height: 48px;
    display: flex;
    background: #fff;
    padding: 15px 12px;
    border-radius: 8px;
    align-items: center;
    border: 1px solid #E6E6E6;

    @include respond-above(lg) {
      height: 56px;
      padding: 20px 15px;
    }
  }

  .coin-count {
    top: 50%;
    z-index: 1;
    right: 12px;
    display: flex;
    position: absolute;
    align-items: center;
    color: $accent-black;
    font-family: $futura-bold;
    transform: translateY(-50%);

    img {
      width: 16px;
      height: 16px;
      margin-left: 5px;
    }
  }

  .month-select-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    span {
      color: #ACADAE;
      font-size: 14px;
      line-height: 16px;
      margin-right: 5px;
    }
  }

  .month-select {
    margin: 0;
    display: flex;
    cursor: pointer;
    align-items: center;

    &:after {
      width: 11px;
      height: 6px;
      background-size: 11px 6px;
    }

    .form-select {
      margin: 0;
      width: auto;
      color: #fff;
      height: auto;
      border: none;
      cursor: pointer;
      font-size: 14px;
      border-radius: 0;
      line-height: 16px;
      padding: 0 20px 0 0;
      background-color: transparent;
    }
  }

  .buy-card {
    background: #fff;
    padding: 25px 20px;
    border-radius: 16px;
    border: 1px solid #EEEEEE;
    box-shadow: 0 4px 16px rgba(47, 49, 52, 0.08);

    @include respond-above(lg) {
      padding: 40px 40px 50px;
    }

    &__title {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 15px;
      color: $accent-black;
      font-family: $futura-medium;

      @include respond-above(lg) {
        line-height: 40px;
        margin-bottom: 20px;
      }
    }

    &__text {
      margin-top: 12px;
      line-height: 18px;
      text-align: center;
      color: $accent-black;

      @include respond-above(lg) {
        font-size: 16px;
        max-width: 350px;
        line-height: 20px;
        margin: 15px auto;
      }
    }
  }

  &__info-row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
  }

  &__info-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .section-title {
      margin-bottom: 0;
    }

    .section-sub-title {
      font-size: 18px;
      line-height: 24px;
      margin-left: 10px;
      margin-bottom: 0;
      font-family: $futura-bold;

      @include respond-above(lg) {
        font-size: 20px;
        line-height: 27px;
        margin-left: 15px;
      }
    }
  }

  &__graph-image {
    width: 100%;
    height: auto;
    margin-bottom: 30px;

    @include respond-above(lg) {
      margin-bottom: 0;
    }

    canvas {
      width: 100%;
      height: 100%;
    }
  }
}

.advantage-section {
  padding-bottom: 30px;

  @include respond-above(lg) {
    padding-bottom: 160px;
  }

  .section-title {
    margin-bottom: 20px;

    @include respond-above(lg) {
      text-align: center;
      margin-bottom: 40px;
    }
  }

  .advantage-card {
    padding: 20px;
    background: #fff;
    border-radius: 16px;
    margin-bottom: 20px;
    border: 1px solid #EEEEEE;
    box-shadow: 0 4px 16px rgba(47, 49, 52, 0.08);

    @include respond-above(lg) {
      padding: 30px;
      margin-bottom: 0;
    }

    &__icon {
      width: 45px;
      height: auto;
      margin-bottom: 15px;
    }

    &__title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
      color: $accent-black;
      font-family: $futura-medium;

      @include respond-above(lg) {
        font-size: 20px;
        line-height: 24px;
      }
    }

    &__description {
      line-height: 20px;
      color: $accent-black;
    }
  }
}

.designers-section {
  padding-bottom: 50px;

  @include respond-above(lg) {
    padding-bottom: 160px;
  }

  .section-title {
    margin-bottom: 20px;

    @include respond-above(lg) {
      margin-bottom: 40px;
    }
  }

  .custom-button {
    margin-bottom: 30px;
  }

  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__description {
    max-width: 475px;
    line-height: 22px;
    margin-bottom: 25px;

    @include respond-above(lg) {
      line-height: 28px;
      margin-bottom: 50px;
    }
  }

  &__image {
    width: 100%;
    margin: 0 auto;
    max-width: 335px;

    @include respond-above(lg) {
      max-width: 100%;
    }
  }
}

.news-section {
  padding-bottom: 40px;

  @include respond-above(lg) {
    padding-bottom: 160px;
  }

  &__title-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;

    @include respond-above(lg) {
      margin-bottom: 40px;
    }
  }

  &__more-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:hover {
      span {
        color: $accent-light;
      }
    }

    span {
      color: $accent;
      font-size: 16px;
      line-height: 18px;
      transition: all 0.4s ease-in-out;

      @include respond-above(lg) {
        font-size: 18px;
        line-height: 20px;
      }
    }

    img {
      width: 5px;
      height: 9px;
      margin-left: 8px;
    }
  }

  .news-card {
    background: #fff;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0 4px 16px rgba(47, 49, 52, 0.08);

    a {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      position: absolute;
    }

    &:hover {
      &:before {
        opacity: 1;
        visibility: visible;
      }
    }

    &:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: 1;
      content: '';
      position: absolute;
      visibility: hidden;
      transition: all 0.4s ease-in-out;
      background-color: rgba(0, 0, 0, 0.3);
    }

    @include respond-above(lg) {
      margin-bottom: 0;
    }

    &__image {
      width: 100%;
      height: 190px;

      @include respond-above(lg) {
        height: 200px;
      }

      img {
        object-fit: cover;
      }
    }

    &__info {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__chip-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    &__chip {
      height: 28px;
      display: flex;
      padding: 0 15px;
      align-items: center;
      margin-right: 12px;
      border-radius: 60px;
      margin-bottom: 12px;
      justify-content: center;
      text-transform: uppercase;
      border: 1px solid $accent;
      background-color: transparent;
      
      span {
        color: $accent;
        font-size: 14px;
        line-height: normal;
      }
    }

    &__title {
      font-size: 20px;
      margin-bottom: 10px;
      color: $accent-black;
      font-family: $futura-medium;
    }

    &__description {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 12px;
      color: $accent-black;
    }

    &__date {
      font-size: 16px;
      line-height: 20px;
      color: rgba(11,11,11,0.5);
    }
  }
}

.feedback-section {
  padding-bottom: 160px;

  &__wrap {
    background: #fff;
    padding: 40px 50px;
    border-radius: 16px;
    border: 1px solid #eee;
    box-shadow: 0 4px 16px rgba(47, 49, 52, 0.08);
  }

  .section-title {
    margin-bottom: 10px;
    color: $accent-black;
  }

  .section-desc {
    line-height: 28px;
    color: $accent-black;
  }

  .feedback-form {
    height: 100%;
    position: relative;

    .form-control {
      width: 100%;
      height: 56px;
      display: flex;
      background: #fff;
      padding: 20px 15px;
      border-radius: 8px;
      align-items: center;
      border: 1px solid #E6E6E6;
    }

    .submit-button {
      top: 0;
      right: 0;
      bottom: 0;
      width: 56px;
      height: 56px;
      display: flex;
      background: $accent;
      border-radius: 8px;
      position: absolute;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease-in-out;

      &:hover {
        background-color: $accent-light;
      }

      img {
        width: 23px;
        height: 20px;
      }
    }
  }
}
