extends includes/layout

block vars
  -
    var title = "Tonumiz"

append content
  main#main-page
    section.main-section
      .container-fluid.h-100
        .row.h-100
          .col-12.col-lg-6
            .main-section__info
              h1.section-title Покупка монет TONumiz в несколько кликов
              p.section-desc Other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
                | by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that \
                | are bound to ensue.
              button.custom-button(type="button" data-bs-toggle="modal" data-bs-target="#buyModal")
                span Купить монеты
          .col-12.col-lg-6
            .main-section__image-wrap
              img(src="/assets/images/main_shape_dark.jpg" alt="main shape")
    section#coins.coin-sale-section
      .container.pe-0
        .coin-sale-section__title-wrap
          h2.section-title Монеты в продаже
          a.coin-sale-section__more-link.d-none.d-lg-flex(href="/")
            span Показать все
            img(src="/assets/images/more_link_arrow.svg" alt="more arrow")
        .coin-slider-wrap
          .slider-arrow.slider-arrow_prev
            img(src="/assets/images/slider_arrow.svg" alt="prev")
          .coin-slider.slider
            .coin-slider__slide
              .coin-card
                .coin-card__image
                  img(src="/assets/images/coin_example.png" alt="coin")
                .coin-card__info
                  .coin-card__row
                    p.coin-card__text Hotman
                    p.coin-card__text 762 монет
                  .coin-card__row
                    p.coin-card__text.coin-card__text_bold Bitmark
                    p.coin-card__text.coin-card__text_bold
                      | 3.22
                      img(src="/assets/images/diamond.svg" alt="diamond")
            .coin-slider__slide
              .coin-card
                .coin-card__image
                  img(src="/assets/images/coin_example.png" alt="coin")
                .coin-card__info
                  .coin-card__row
                    p.coin-card__text Hotman
                    p.coin-card__text 762 монет
                  .coin-card__row
                    p.coin-card__text.coin-card__text_bold Bitmark
                    p.coin-card__text.coin-card__text_bold
                      | 3.22
                      img(src="/assets/images/diamond.svg" alt="diamond")
            .coin-slider__slide
              .coin-card
                .coin-card__image
                  img(src="/assets/images/coin_example.png" alt="coin")
                .coin-card__info
                  .coin-card__row
                    p.coin-card__text Hotman
                    p.coin-card__text 762 монет
                  .coin-card__row
                    p.coin-card__text.coin-card__text_bold Bitmark
                    p.coin-card__text.coin-card__text_bold
                      | 3.22
                      img(src="/assets/images/diamond.svg" alt="diamond")
            .coin-slider__slide
              .coin-card
                .coin-card__image
                  img(src="/assets/images/coin_example.png" alt="coin")
                .coin-card__info
                  .coin-card__row
                    p.coin-card__text Hotman
                    p.coin-card__text 762 монет
                  .coin-card__row
                    p.coin-card__text.coin-card__text_bold Bitmark
                    p.coin-card__text.coin-card__text_bold
                      | 3.22
                      img(src="/assets/images/diamond.svg" alt="diamond")
            .coin-slider__slide
              .coin-card
                .coin-card__image
                  img(src="/assets/images/coin_example.png" alt="coin")
                .coin-card__info
                  .coin-card__row
                    p.coin-card__text Hotman
                    p.coin-card__text 762 монет
                  .coin-card__row
                    p.coin-card__text.coin-card__text_bold Bitmark
                    p.coin-card__text.coin-card__text_bold
                      | 3.22
                      img(src="/assets/images/diamond.svg" alt="diamond")
          .slider-arrow.slider-arrow_next
            img(src="/assets/images/slider_arrow.svg" alt="prev")
        a.coin-sale-section__more-link.d-flex.d-lg-none(href="/")
          span Показать все
          img(src="/assets/images/more_link_arrow.svg" alt="more arrow")
    section#about.about-section
      .container
        .about-section__title-row
          h2.section-title Об NFT токенах выпущенных на Cryptonumiz
          .about-section__title-image
            img.d-block.d-md-none(src="/assets/images/about_shape_mobile.svg" alt="about")
            img.d-none.d-md-block(src="/assets/images/about_shape.svg" alt="about")
        .row
          .col-12.col-md-6
            .about-card
              h4.about-card__title!='<span>Other hand</span>, we denounce with righteous indignation and dislike'
              p.about-card__description Other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                | demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and
                | trouble that are bound to ensue.
          .col-12.col-md-6
            .about-card
              h4.about-card__title!='<span>Other hand</span>, we denounce with righteous indignation and dislike'
              p.about-card__description Other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                | demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and
                | trouble that are bound to ensue.
          .col-12.col-md-6
            .about-card
              h4.about-card__title!='<span>Other hand</span>, we denounce with righteous indignation and dislike'
              p.about-card__description Other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                | demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and
                | trouble that are bound to ensue.
          .col-12.col-md-6
            .about-card
              h4.about-card__title!='<span>Other hand</span>, we denounce with righteous indignation and dislike'
              p.about-card__description Other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                | demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and
                | trouble that are bound to ensue.
    section#buy.buy-section
      .container
        .row
          .col-12.col-md-6
            h2.section-title NFT токены выпущенные на Cryptonumiz
            .buy-section__info-row
              .buy-section__info-title
                h3.section-title 1.55$
                h4.section-sub-title +2%
              .month-select-wrap
                span Показать:
                .select-wrap.month-select
                  select.form-select
                    option(selected) Месяц
                    option(value="1") Январь
                    option(value="2") Февраль
                    option(value="3") Март
            .buy-section__graph-image
              canvas(id="test-chart")
          .col-12.col-md-6
            .buy-card
              h4.buy-card__title Покупка
              .select-wrap.coin-select.no-arrow
                select.coin-select.selectpicker(title="Выберите валюту")
                  option(value="1" data-content=`<img src="/assets/images/select_coin.svg" alt="coin"/><span>Dogecoin 1</span>`)
                  option(value="2" data-content=`<img src="/assets/images/select_coin.svg" alt="coin"/><span>Dogecoin 2</span>`)
                  option(value="3" data-content=`<img src="/assets/images/select_coin.svg" alt="coin"/><span>Dogecoin 3</span>`)
              .input-wrap.coin-input
                input.form-control(type="email" name="coins"  placeholder="Осталось 720 монет")
                p.coin-count
                  | 0
                  img(src="/assets/images/diamond.svg" alt="diamond")
              button.custom-button.full-width(data-bs-toggle="modal" data-bs-target="#buyModal")
                span Продолжить покупку
              p.buy-card__text На следующем шаге нужно будет отсканировать qr-код через TON surf browser на телефоне
    section#advantage.advantage-section
      .container
        h2.section-title В чём преимущества платформы?
        .row
          .col-12.col-md-4
            .advantage-card
              .advantage-card__icon
                img(src="/assets/images/advantage_icon.svg" alt="advantage")
              h4.advantage-card__title Название преимущества
              p.advantage-card__description Cryptocurrencies are flexible, low-cost, and transparent. But they’re also very volatile.
                | In a single session, their value can fluctuate
          .col-12.col-md-4
            .advantage-card
              .advantage-card__icon
                img(src="/assets/images/advantage_icon.svg" alt="advantage")
              h4.advantage-card__title Название преимущества
              p.advantage-card__description Cryptocurrencies are flexible, low-cost, and transparent. But they’re also very volatile.
                | In a single session, their value can fluctuate
          .col-12.col-md-4
            .advantage-card
              .advantage-card__icon
                img(src="/assets/images/advantage_icon.svg" alt="advantage")
              h4.advantage-card__title Название преимущества
              p.advantage-card__description Cryptocurrencies are flexible, low-cost, and transparent. But they’re also very volatile.
                | In a single session, their value can fluctuate
    section#designers.designers-section
      .container
        .row
          .col-12.col-md-6
            .designers-section__info
              h2.section-title О наших художниках
              p.designers-section__description Other hand, we denounce with righteous indignation and dislike men who are so
                | beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee
                | the pain and trouble that are bound to ensue.
              button.custom-button(type="button")
                span Подробнее
          .col-12.col-md-6
            .designers-section__image
              img(src="/assets/images/designer.svg" alt="designer")
    section#news.news-section
      .container
        .news-section__title-row
          h2.section-title Последние новости
          a.news-section__more-link.d-none.d-lg-flex
            span Показать все
            img(src="/assets/images/more_link_arrow.svg" alt="more arrow")
        .row
          .col-12.col-md-4
            .news-card
              a(href="/")
              .news-card__image
                img(src="/assets/images/news.png" alt="news")
              .news-card__info
                .news-card__chip-wrap
                  .news-card__chip
                    span новинки
                h4.news-card__title Выпущена новая монетка
                p.news-card__description Cryptocurrencies are flexible, low-cost, and transparent. But they’re also very
                  | volatile. In a single session, their value can fluctuate
                p.news-card__date 14 авг, 2020
          .col-12.col-md-4
            .news-card
              a(href="/")
              .news-card__image
                img(src="/assets/images/news.png" alt="news")
              .news-card__info
                .news-card__chip
                  span новинки
                h4.news-card__title Выпущена новая монетка
                p.news-card__description Cryptocurrencies are flexible, low-cost, and transparent. But they’re also very
                  | volatile. In a single session, their value can fluctuate
                p.news-card__date 14 авг, 2020
          .col-12.col-md-4
            .news-card
              a(href="/")
              .news-card__image
                img(src="/assets/images/news.png" alt="news")
              .news-card__info
                .news-card__chip
                  span новинки
                h4.news-card__title Выпущена новая монетка
                p.news-card__description Cryptocurrencies are flexible, low-cost, and transparent. But they’re also very
                  | volatile. In a single session, their value can fluctuate
                p.news-card__date 14 авг, 2020
        a.news-section__more-link.d-flex.d-lg-none
          span Показать все
          img(src="/assets/images/more_link_arrow.svg" alt="more arrow")
    section.feedback-section.d-none.d-md-block
      .container
        .feedback-section__wrap
          .row.align-items-center
            .col-md-8
              .feedback-section__info
                h2.section-title Подпишитесь на рассылку
                p.section-desc И получайте последние новости проекта Cryptonumiz
            .col-md-4
              form.feedback-form
                input.form-control(type="email" name="email" placeholder="Почта" required)
                button.submit-button(type="submit")
                  img(src="/assets/images/send_icon.svg" alt="send")