[data-aos="clip-down"] {
  clip-path: inset(0 0 100% 0);
  transition-property: clip-path;

  &.aos-animate {
    clip-path: inset(0 0 -30px 0);
  }
}

[data-aos="clip-right"] {
  clip-path: inset(0 100% 0 0);
  transition-property: clip-path;

  &.aos-animate {
    clip-path: inset(0 0 0 0);
  }
}

[data-aos="clip-down-20"] {
  transform: translateY(-20px);
  clip-path: inset(0 0 100% 0);
  transition-property: clip-path, transform;

  &.aos-animate {
    clip-path: inset(0 0 0 0);
    transform: translateY(0px);
  }
}

[data-aos="clip-right-20"] {
  transition-duration: 1.5s;
  transform: translateX(-20px);
  clip-path: inset(0 100% 0 0);
  transition-property: clip-path, transform;

  &.aos-animate {
    clip-path: inset(0 0 0 0);
    transform: translateX(0px);
  }
}

[data-aos="show-up-20"] {
  opacity: 0;
  transform: translateY(20px);
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
}
