$accent: #D8A041;
$accent-grey: #E6E6E6;
$accent-light: #E8C68D;
$accent-black: #0B0B0B;

$futura-regular: 'FuturaBookC', sans-serif;
$futura-medium: 'FuturaDemiC', sans-serif;
$futura-bold: 'FuturaBold', sans-serif;
