html, body {
  color: #fff;
  font-size: 14px;
  line-height: normal;
  scroll-behavior: smooth;
  font-family: $futura-regular;
  background-color: $accent-black;

  @include respond-above(lg) {
    font-size: 18px;
  }

  &.theme-light {
    color: $accent-black;
    background-color: #fff;

    .section-title, .section-desc, .section-sub-title {
      color: $accent-black;
    }

    .header.active {
      background-color: #fff;
      border-bottom: 1px solid #E5E5E5;
    }

    .header__link, .footer__link, .footer__copyright {
      color: $accent-black;
    }

    .header__theme.active span {
      color: $accent-black;
    }

    .header__menu span {
      background-color: $accent-black;
    }

    .month-select .form-select {
      color: $accent-black;
    }

    .footer {
      border-color: #E5E5E5;
    }

    .global-menu {
      background-color: #fff;
    }

    .global-menu__link {
      color: $accent-black;
    }
  }
}

input, button, textarea, select, option {
  padding: 0;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent;
}

a, p {
  margin-bottom: 0;
  text-decoration: none !important;
}

a {
  transition: all 0.4s ease-in-out;

  &:active, &:hover {
    color: $accent;
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  overflow: hidden;
}

section {
  position: relative;
}

img, svg {
  width: 100%;
  height: 100%;
  display: block;
}

.container, .container-fluid {
  z-index: 5;
  position: relative;
}

.container {
  padding: 0 20px;
}

.container-fluid {
  padding-left: 20px;
  padding-right: 20px;

  @include respond-above(lg) {
    max-width: 1680px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.slick-slide {
  outline: none !important;
}
