@font-face {
  font-family: 'FuturaDemiC';
  src: url('/public/fonts/FuturaDemiC.eot');
  src: local('Futura Demi Cyrillic'), local('FuturaDemiC'),
  url('/public/fonts/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/FuturaDemiC.woff') format('woff'),
  url('/public/fonts/FuturaDemiC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBookC';
  src: url('/public/fonts/FuturaBookC.eot');
  src: local('Futura Book Cyrillic'), local('FuturaBookC'),
  url('/public/fonts/FuturaBookC.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/FuturaBookC.woff') format('woff'),
  url('/public/fonts/FuturaBookC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBold';
  src: url('/public/fonts/Futura-Bold.eot');
  src: local('Futura Bold'), local('Futura-Bold'),
  url('/public/fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/Futura-Bold.woff') format('woff'),
  url('/public/fonts/Futura-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
