$breakpoints: (sm: 576px, md: 768px, lg: 992px, xl: 1200px);

@mixin respond-above($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    
    @media only screen and (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-below($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media only screen and (max-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-between($breakpoint-first, $breakpoint-second) {
  @if map-has-key($breakpoints, $breakpoint-first or $breakpoint-second) {
    $breakpoint-first-value: map-get($breakpoints, $breakpoint-first);
    $breakpoint-second-value: map-get($breakpoints, $breakpoint-second);

    @media only screen and (min-width: $breakpoint-first-value) and (max-width: $breakpoint-second-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint-first} or #{$breakpoint-second}.';
  }
}
